
header {
  border-top: 10px solid #806a50;
}

.logo {
  margin-top: 15px;
}

.banner {
  /*margin-top: 40px;*/
}

.quem-somos {
  background: url(../images/fundo_quem_somos.jpg) center top;
  height: 663px;
}

.titulo-section {
  color: #806a50;
  text-align: center;
  margin-top: 65px;
  font-weight: bold;
  font-family: 'Arial', Helvetica, sans-serif;
}

.texto-section {
  text-align: left;
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.texto-sub-faz {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.img-faz {
  margin-top: 30px;
}

.sub-titulo-faz {
  margin-top: 15px;
  text-align: center;
  font-family: 'Arial', Helvetica, sans-serif;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}

.texto-item-faz {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px
}

.gestao {
  background: url(../images/fundo_gestao.jpg);
  color: #fff;
}

.titulo-gestao {
  color: #fff;
  text-align: center;
  margin-top: 65px;
  font-weight: bold;
  font-family: 'Arial', Helvetica, sans-serif;
  text-transform: uppercase;
}

.sub-gestao {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-size: 16px;
}

.img-gestao {
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto-gestao {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-bottom: 40px;
}

.img-informa {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*******************FOOTER********************/

footer {
  background: #806a50;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copy {
  text-align: right;
}

/*********************************************/
/******************MENU**************/

.navbar-carmelo .navbar-nav > li > a {
  color: #58595b;
  text-transform: uppercase;
}

.nav {
  font-family: 'Arial';
  font-size: 18px;
  margin-top: 30px !important;
}

.navbar-carmelo .navbar-nav > li > a:hover,
.navbar-carmelo .navbar-nav > li > a:focus,
.navbar-carmelo .navbar-nav > li.active > a{
	color: #806a50;
	margin-bottom: 0;
  background: transparent;
}
/***********************************/
